<footer class="footer">
  <div class="footer__content">
    <span class="footer__headline">- get in touch with us -</span>
    <p class="footer__text">
      Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet
      sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor
      vollisky inceptos mollisestor.
    </p>
    <div class="footer__icons">
      <img class="footer__icon" src="@img/RSS.png" alt="" />
      <img class="footer__icon" src="@img/Facebook.png" alt="" />
      <img class="footer__icon" src="@img/Twitter.png" alt="" />
      <img class="footer__icon" src="@img/Dribbble.png" alt="" />
      <img class="footer__icon" src="@img/Pinterest.png" alt="" />
    </div>
    <span class="footer__info">
      Moonshine St. 14-05 Light City / T. +00 (123) 456 78 90 /
      first.last@email.com
    </span>
  </div>
</footer>
