<header class="header content-wrapper">
  <ul class="header__list">
    <a href="#" class="list-item">home</a>
    <a href="#" class="list-item">about us</a>
    <a href="#" class="list-item">our journal</a>
    <a href="#" class="list-item">projects</a>
    <a href="#" class="list-item">news</a>
    <a href="#" class="list-item">features</a>
    <a href="#" class="list-item">contact</a>
  </ul>
  <div class="menu-button-wrapper">
    <img class="menu-button" src="@img/menu-button-open.png" alt="" />
  </div>
  <div class="menu-wrapper">
    <ul class="menu">
      <a class="menu-item" href="#">Home</a>
      <a class="menu-item" href="#">about us</a>
      <a class="menu-item" href="#">our journal</a>
      <a class="menu-item" href="#">projects</a>
      <a class="menu-item" href="#">news</a>
      <a class="menu-item" href="#">features</a>
      <a class="menu-item" href="#">contact</a>
    </ul>
  </div>
</header>
