<section class="instagram">
  <div class="instagram__content">
    <div class="instagram__headlines">
      <span class="instagram__headline">- Latest Instagram Shots</span>
      <span class="instagram__headline instagram__headline-new"
        >- Last Instagram Shot</span
      >
      <span class="instagram__headline">go to our instagram page -</span>
    </div>
    <div class="instagram__gallery">
      <img src="@img/post-1 1.png" alt="" />
      <img src="@img/post-2 1.png" alt="" />
      <img src="@img/post-3 1.png" alt="" />
      <img src="@img/post-4 1.png" alt="" />
    </div>
  </div>
</section>
