<section class="posts">
  <span class="posts__headline">- our recent posts</span>
  <div class="posts-content">
    <div class="post"></div>
    <div class="post"></div>
    <div class="post"></div>
    <div class="post"></div>
  </div>
</section>
