.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 1);
}

.footer__content {
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__headline {
  color: rgba(254, 254, 254, 1);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}

.footer__text {
  width: 684px;
  padding-top: 22px;
  color: rgba(185, 185, 185, 1);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
}

.footer__icons {
  padding-top: 37px;
  display: flex;
  justify-content: center;
  .footer__icon {
    padding-left: 6px;
    &:last-child {
      padding-right: 6px;
    }
  }
}

.footer__info {
  padding-top: 34px;
  color: rgba(185, 185, 185, 1);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
}

@media (max-width: 767px) {
  .footer__text {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    width: 303px;
  }

  .footer__info {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    width: 235px;
  }
}
