.header {
  display: flex;
  justify-content: center;
}

.menu-button {
  display: none;
}

.menu-wrapper {
  display: none;
  top: 67.4px;
  position: absolute;
}

.menu {
  width: 182px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: rgba(245, 245, 245, 1);
}

.menu-item {
  width: 100%;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 1.100000023841858px;
  text-align: left;
  text-transform: uppercase;
  padding-left: 12px;
  color: $headlines-color;
  &:hover {
    background: rgba(229, 229, 229, 1);
  }

  &:first-child {
    color: rgba(87, 164, 164, 1);
  }
}

.header__list {
  padding: 45px 0 51px 0;
}

.list-item {
  &:first-child {
    color: rgba(87, 164, 164, 1);
  }
  color: $headlines-color;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 1.100000023841858px;
  text-align: left;
  text-transform: uppercase;
  margin-left: 68px;
}

.list-item:last-child {
  margin-right: 68px;
}

@media (max-width: 1199px) {
  .list-item {
    margin-left: 34px;
  }
  .list-item:last-child {
    margin-right: 34px;
  }
}

@media (max-width: 767px) {
  .header {
    justify-content: flex-end;
    align-items: center;
  }

  .list-item {
    display: none;
  }

  .menu-button {
    display: block;
    position: relative;
  }
}
