.instagram {
  background: rgb(248, 248, 248);
  width: 100%;
  @include flex-main(center, column, center);
}

.instagram__content {
  width: 1170px;
}

.instagram__headline-new {
  display: none;
}

.instagram__headlines {
  padding: 46.5px 0 24.5px 0;
  display: flex;
  justify-content: space-between;
  .instagram__headline {
    color: $headlines-color;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
    &:first-child {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: left;
    }
  }
}

.instagram__gallery {
  display: grid;
  grid-template-columns: repeat(4, 285px);
  gap: 10px;
  padding-bottom: 50px;
}

@media (max-width: 1199px) {
  .instagram__content {
    width: 768px;
  }
  .instagram__gallery {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 10px;
    padding-bottom: 50px;
  }
  .instagram__gallery img {
    width: 250px;
  }
  .instagram__gallery img:last-child {
    display: none;
  }
}

@media (max-width: 767px) {
  .instagram__content {
    width: 320px;
  }

  .instagram__gallery {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 10px;
    padding-bottom: 50px;
  }

  .instagram__gallery img {
    display: none;
  }

  .instagram__gallery img:first-child {
    display: flex;
    width: 301px;
  }

  .instagram__headline {
    display: none;
  }

  .instagram__headline-new {
    display: flex;
  }
}
