.posts {
  padding: 69px 0;
  width: 1170px;
}

.posts__headline {
  color: $headlines-color;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}

.posts-content {
  padding-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 555px);
  gap: 32px;
}

.post {
  display: flex;
}

.post__content {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.content-headline {
  color: $headlines-color;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}

.content-info {
  color: rgba(124, 124, 124, 1);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.content-text {
  color: rgba(92, 92, 92, 1);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

@media (max-width: 1199px) {
  .posts {
    width: 768px;
  }
  .posts-content {
    padding-top: 24px;
    display: grid;
    grid-template-columns: repeat(1, 555px);
    padding-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .posts {
    width: 320px;
  }
  .posts-content {
    padding-top: 24px;
    display: grid;
    grid-template-columns: repeat(1, 232px);
    padding-bottom: 32px;
  }

  .content-text {
    display: none;
  }

  .content-headline {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
  }

  .post {
    flex-direction: column;
    align-items: flex-start;
  }

  .post__content {
    padding-left: 0;
  }
}
