@import "variables";
@import "mixins";
@import "fonts";
@import "reset";

.container {
  margin: 0 auto;
  width: 100%;
  @include flex-main(center, column, center);
  display: flex;
  justify-content: center;
}

.content-wrapper {
  width: 1170px;
  display: flex;
  justify-content: center;
}

.main {
  width: 100%;
  @include flex-main(center, column, center);
}

@import "header";
@import "posts";
@import "instagram";
@import "footer";

@media (max-width: 1199px) {
  .content-wrapper {
    width: 768px;
  }
  .poster {
    width: 768px;
  }
}

@media (max-width: 767px) {
  .content-wrapper {
    width: 320px;
  }
  .poster {
    width: 320px;
  }
}
